# Dependencies
node_modules/

# Vendor files
src/client/vendor

# Build files
assets/
public/
busy.server.js

# TODO: Eventually should be linted as well
# Webpack
webpack/
src/client/components/PredictionWidget/autocomplete-0.3.0.js
